@font-face {
    font-family: "Libras-2016";
    src: url("Libras-2016.ttf");
}

html, body, .wrapper {
    margin: 0;
    height: 100%;
}

body {
    overflow: hidden;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper > main {
    flex-grow: 1;
    position: relative;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
}

nav ul > li {
    cursor: pointer;
    list-style: none;
    flex-grow: 1;
    text-align: center;
    background: white;
    padding: 12px;
    border-bottom: 3px solid white;
    text-transform: uppercase;
}

main > div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.selecionado {
    border-bottom-color: #1A237E;
}

textarea {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    resize: none;
    font-family: Consolas, 'Courier New', Courier, monospace;
}

#divTexto {
    z-index: 2;
}

#divSinais {
    z-index: 1;
    /*display: none;*/
    /*visibility: hidden;*/
}

canvas {
    background: white;
    /*border: 1px solid black;*/
    /*visibility: hidden;*/
}
